<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <!-- Include the ThebeLab config so it gets reloaded on each page -->
    {% include js/thebelab-page-config.html %}

    <!-- .js-show-sidebar shows sidebar by default -->
    <div id="js-textbook" class="c-textbook {% if site.show_sidebar %}js-show-sidebar{% endif %}">
      {% include sidebar.html %}
      {% if page.search_page != true %}
      {% endif %}
      {% include topbar.html %}
      <main class="c-textbook__page" tabindex="-1">
            <div class="c-textbook__content" id="textbook_content">
              {% if page.metadata == true %}
              <div class="c-textbook__metadata_list" id="textbook_metadata"> 
                <div><span class="c-textbook__metadata_text">Title of the section:</span> {{ page.section }}</div> 
                <div class="c-textbook__metadata_box">
                  <div class="c-textbook__metadata_content"> 
                    <div><span class="c-textbook__metadata_text">Goal:</span> {{ page.goal }} </div> 
                    <div><span class="c-textbook__metadata_text">Time needed:</span> {{ page.time }} </div>
                  </div> 
                  <div class="c-textbook__metadata_content"> 
                    <div><span class="c-textbook__metadata_text">Table of contents:</span> {{ page.toccontent }} </div>
                    <div><span class="c-textbook__metadata_text">Prerequisites:</span> {{ page.prerequisites }}</div> 
                  </div>
                </div>
                <div> <span class="c-textbook__metadata_text">Level:</span> {{ page.level }} </div>
              </div>
              <hr class="c-textbook__metadata_line">
              {% endif %}
              {{ content }}
            </div>
            <div class="c-textbook__footer" id="textbook_footer">
              {% include page-nav.html %}
              {% include footer.html %}
            </div>

        </div>
      </main>
    </div>
  </body>
</html>
